@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* main navigation */
/* //////////////////// */
.links-nav{
    margin-bottom: 1.25rem;
}
.links-nav a{
    margin-bottom: 1.75rem;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid transparent;
}
.links-external{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.links-external a img{
    margin-right: 0.5rem;
    width:1.25rem;
    height: 100%;
}
.links-external a{
    font-size: 0.75rem;
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
}
.links-external-small{
    display: none;
}

/* general page */
/* ///////////////////// */
body {
  background: #fafafa;
  padding-right: 64px;
}
.article__body,
.page__body {
  max-width: 50rem;
}
h1, h2 {
  font-weight: 800;
}
h3, h4, h5 {
  font-weight: 700; 
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.65rem;
}
h3 {
  font-size: 1.35rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}

/* article */
/* /////////////////// */

.article__body h1,
.article__body h2, 
.article__body h3, 
.article__body h4 {
  margin-bottom: 1.25rem;
  margin-top: 1.75rem;
}
.article__body p,
.article__body a,
.article__body ul {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
}
.article__body em {
  color: darkgray;
}
.article__body a {
  color: brown;
  text-decoration: underline;
}
.article__body iframe {
  width: 960px;
  height: 640px;
}
.article__body iframe,
.article__body img {
  margin-bottom: 1rem;
  max-width: 60rem;
}
